/*
* WPSimpleBackup Stylesheet Document
*/

.margintop10{
    margin-top: 10px;
}

.margintop20{
    margin-top: 20px;
}
.margintop100{
    margin-top: 100px;
}

.width100{
    width:100%;
}

.inlineblock{
    display: inline-block;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_both, table.dataTable thead .sorting{
    background-image: none !important;
}

.margin10{
    margin: 10px 0px !important;
}

.dataTables_length{
    margin-bottom: 10px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 99999999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    user-select: none;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.surveyerror{
    font-style: normal !important;
    color:#a94442  !important;
    font-size: 14px !important;
    padding: 20px 0px 0px 0px;
    clear:both;
}
.surveydismiss{
}

.normaltxt{
    font-weight: 100 !important;
}

.fixalign{
    margin:-3px 0px 0px 0px !important;
}

.questionoptions{
    /*display: none;*/
}

.buttonmargin{
    margin:10px 0px 10px 0px !important;
}

input.optionitem.form-control.buttonmargin {
    width:93%;
    float: left;
}

.optionrow{
    /*display: inline-block;*/
    width:100%;
}

a.button.remove_field {
    float: left;
    margin: 12px 0px 0px 5px;
}

.ui-multiselect input.search{
    width: 480px !important;
    height: 25px !important;
    background: #fff !important;
    opacity: 1 !important;
    font-size: 14px;
    text-indent: 5px;
}

.ui-widget-header{
    background: #ddd !important;
}

.form-control-custom{
    width:98.5%;
}

.ui-multiselect{
    border: 1px solid #ccc;
}

.ui-multiselect div.selected {
    border:none;
}

.ui-multiselect div.available{
    border-right: 1px solid #ccc;
    border-left: none;

}

.ui-multiselect ul.available, .ui-multiselect ul.selected{
    min-height: 250px !important;   
    max-height: 250px !important;   
    height: 250px !important;
    overflow-y: scroll;
}


.ui-multiselect ul.selected li, .ui-multiselect ul.available li{
    font-size: 14px;
    padding:10px;
    margin:2px 0px;
    text-indent: 10px;
}

.ui-multiselect li{
    height: auto;
}

.ui-multiselect li a.action{
    top:31%;
}
.ui-multiselect .ui-widget-header{
    height:37px;
}

#questions ul li{
    width:100% !important;
}

#slider_value{
    text-align: center;
}

output { 
    position: relative;
    background-image: linear-gradient(#444444, #999999);
    width: 40px; 
    height: 30px; 
    text-align: center; 
    color: white; 
    border-radius: 10px; 
    display: inline-block; 
    font: bold 15px/30px Georgia;
    bottom: 13px;
    left: 0;
    margin-left: 0%;
    line-height: 17px;
}
output:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

input[type="range"]{ 
    -webkit-appearance:none; 
    -moz-apperance:none; 
    height: 6px; 
    background-color: #999999;
    outline-color: transparent;

}
input::-webkit-slider-thumb{
    -webkit-appearance:none; 
    -moz-apperance:none; 
    width:16px; 
    height:16px;
    -webkit-border-radius:10px; 
    -moz-border-radius:10px; 
    -ms-border-radius:10px; 
    -o-border-radius:10px; 
    border-radius:10px;
    background-image: linear-gradient(#444444, #999999);
    overflow: visible;
}

.ques_req{
}
@media(max-width: 1296px){
    input.optionitem.form-control.buttonmargin{
        width:80%;
    }
}
